<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <header>
        <nav class="navbar">
            <div class="logo-container">
                <div class="logo">YT</div>
            </div>
            
            <ul class="nav-links">
                <li><a href="/" class="{% if active_page == 'home' %}active{% endif %}">Home</a></li>
                <li>
                    <a href="/video_transcript" class="{% if active_page == 'generate_article' %}active{% endif %}">Generate Article</a>
                </li>
                <li>
                    <a href="/contact_us"  class="{% if active_page == 'contact' %}active{% endif %}">Contact</a>
                </li>

                <li><a href="#features">Features</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="profile.html" class="btn btn-outline">My Account</a></li>
                <li><a href="#" class="btn btn-primary">Get Started</a></li>
            </ul>
            
            <div class="profile-container">
                <div class="profile-pic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
            </div>
        </nav>
    </header> -->

    <header>
        <div class="container">
            <div class="logo-container">
                <div class="logo">VS</div>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#how-it-works">How It Works</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <!-- <li><a href="profile.html" class="btn btn-outline">My Account</a></li> -->
                    <li><a href="/video_transcript" class="btn btn-primary">Get Started</a></li>
                    <div class="profile-container">
                        <div class="profile-pic">
                            <a href="/profile" style="color: black;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </a>
                        </div>
                    </div>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>
