<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>
<body>
    {% include 'partials/nav.html' %}


    {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                        {% if category == "error" %}
                            <div class="conversion-item" role="alert">
                                <p>{{message}}</p>
                                <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
                            </div>
                        {% else %}
                            <div class="conversion-item" role="alert">
                                <p>{{message}}</p>
                                <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
                            </div>    
                        {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <h1 style="margin-top: 30px; text-align: center;">Login</h1>
    <div class="contact-content">
        <div class="contact-form-container">
            <form id="contact-form" class="contact-form" action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your email address" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required placeholder="Enter your password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large">Login</button>
                </div>
            </form>
            <p style="text-align: center;" >Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </div>

    <br><br><br>

    {% include 'partials/footer.html' %}
    
</body>
</html>
